
.activecar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activecard1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgb(37,43,49);
    width: 165px;
    gap: 5px;
    height: 100%;
    font-size: 11px;
    padding: 10px;
    border-radius: 10px;
}
.activecard1 img{
    width: 50%;
}
.activecard12{
    display: flex;
    gap: 10px;
}
.activecard{
    display: flex;
    gap: 20px;
}
.id-icon{
    display: flex;
    gap: 3px;
    padding: 8px;
    text-align: center;
}
.activeedit-delite{
    padding: 8px;
    text-align: center;
    display: flex;
    gap: 5px;
}
.active-delite{
    background-color: rgb(40, 170, 40);
color: rgb(40, 170, 40);
}
.thactive
{
    padding: 6px;
    text-align: center;
}
 .tdactive {
    padding: 8px;
    text-align: center;
}
.totalprice{
    padding: 8px;
    text-align: center;
}
.thactive{
    color: white;
}
.buttontable{
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(117,162,253);
     padding-right: 10px;
}