.deals table{
    border-radius: 10px;
     border-collapse: collapse;
    padding: 10px;
  background-color:rgb(37,43,49);
}

.deals td{
    padding: 10px 22px 10px 22px;
}
.deals-thead{
   
    background-color:rgb(40, 170, 40) ;
    border-radius: 2px;
}
.deals-thead th{
    padding: 5px;
}


.deals-icon{
    font-size: 15px;
    display: flex;
    gap: 5px;
}
