.deals table{
    border-radius: 10px;
 background-color:rgb(37,43,49);
}

.deals td{
    padding: 10px 22px 10px 22px;
}
.deals-thead th{
    background-color:rgb(40, 170, 40) ;
padding: 5px;
}


.deals-icon{
    font-size: 15px;
    display: flex;
    gap: 5px;
}
