.forgetpassword{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.forgetpassword input{
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 5px;
}
.forgetpassword button{
    padding: 7px;
    color: white;
    background-color: rgb(40,152,30);
    border: none;
    border-radius: 5px;
}
.forgetpassword button:hover{
    background-color: white;
    color: rgb(40,152,30); 
}