.login{
    min-height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(37,43,49);
}


.profile1-login{
    display: flex;
    gap: 2px;
}

.profile1-login p{
    margin-top: 16px;
    height: 15px;
    font-size: 11px;
}
.profile-login-para{
    display: flex; 
    gap: 2px;
}
.profile-login-para1{
    font-weight: bold;
    color: rgb(69,109,203);
    border-bottom: 1px solid rgb(51,93,184);
 
}
.profile-login-para2{
    font-size: 15px;
    font-weight: bold;
    color: rgb(40, 170, 40);
    border-bottom: 1px solid rgb(40, 170, 40);
 
}


.login-log-image-paragraph{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 20px;
    font-weight: bold;
}
.login-log-image-paragraph1{
    display: flex;
    gap: 2px;
}
.login-logo-image-paragraph-car{
    color: #4CAF50;
}
.login-log-image{
    background-color: rgb(101,101,117);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 100%;
    padding:  40px 70px 40px 70px;
}
.loginimage{
    width: 15rem;
    display: flex;
    align-items: center;
    height: 15rem;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}
.loginform{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-login-input{
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: none;
}
.login-button-paragraph{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-button-paragraph p{
    font-size: 11px;
}
.login-btn{
     padding: 8px 25px 8px 25px;
     background-color: #4CAF50;
     border: none;
     border-radius: 5px;
}
.form-login-checkbox{
    display: flex;
    justify-content: space-between;
}
.login-register{
    display: flex;
}
.login-email-password{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-register-login{
 padding: 10px 45px 10px 45px;
  border-radius: 5px;
  background-color: white;
  color: #4CAF50;
  border: none;
}
.login-register-register{
  padding: 10px 45px 10px 45px;
  border-radius: 5px;
 background-color: #4CAF50;
   color: white;
   border: none;
}
.forgot-password{
    color: #4CAF50;
    font-size: 11px;
}
.form-login-checkbox label{
    font-size: 11px;
}
.login-rember{
    display: flex;
    justify-content: center;
}
.login-container-paragraph{
 display: flex; 
  gap: 2px;
}
.login-container-paragraph12{
  color: #4CAF50;
}
.login-container-paragraph1{
display: flex;
 font-weight: bold;
flex-direction: column;
align-items: center;
justify-content: center;
}