.settings{
    display: flex;
    gap: 20px;
}
.settingpage{
    display: flex;
}
.settingicon{
    font-size: 20px;
}
.settingcard{
    display: flex;
    background-color: rgb(37,43,49);
    width: 30%;
    height: 91%;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    flex-direction: column;
}
.settingparagraph2{
    font-size: 10px;
}
.setting-page-link{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.setting-page-link-link{
   text-decoration: none; 
   list-style: none;
}